<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>Background color</key>
			<string>lunch-screen</string>
			<key>Image name</key>
			<string>belakissscreen</string>
			<key>Image respects safe area insets</key>
			<string>YES</string>
		</dict>
	</dict>
</dict>
</plist>
